
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e063d;
}
.clock{
  user-select: none;
}
.clock .time{
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(221, 13, 13, 0.09);
  padding: 0 10px;
}
.clock .time span{
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #333;
}
.time span.colon{
  width: 10px;
}

.clock .buttons{
  text-align: center;
  margin-top: 20px;
}
.buttons button{
  padding: 6px 16px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: #7D2Ae8;
  background: #fff;
  font-size: 19px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.09);
}

.buttons button:hover{
  background-color: #1e063d;
  color: bisque;
  border: #4b0c9d;
}